html {
    background-color: black;
}

:root {
    --background-color: black;
    --elementary-color: #090909;
}

.card {
    background-color: var(--elementary-color);
    padding: 3%;
    border-color: #171717;
    border-width: 2px;
}

.container-fluid {
    justify-content: center;
    padding: 0;
    overflow-x: hidden;
}

#header {
    background-color: var(--elementary-color);
    padding: 1%;
}

#banner {
    background-image: url("https://media.discordapp.net/attachments/1035672819029245972/1035692265764573184/Adobe_Express_20221029_0111050_1.png");
    background-size: cover;
    background-position: center;
}

#body {
    background-color: var(--background-color);
    justify-content: center;
    justify-items: center;
    padding: 5% 15%;
}

#footer {
    background-color: var(--elementary-color);
    justify-content: center;
    overflow: hidden;
    border-color: #171717;
    border-width: 2px;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-right: 27%;
    padding-left: 27%;
}

#footer div {
    margin: 5% 1% 4%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition-duration: 0.3s;
    color: lightgray;
}

* {
    font-size: 102%;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    background-color: #1a1a1a;
}

@media screen and (max-width: 768px) {
    #body {
        background-color: var(--background-color);
        justify-content: center;
        justify-items: center;
        padding: 5% 7%;
    }
}